# Ignore build artifacts and development files
.git
.gitignore
.idea/
docs/
npm-debug.log
yarn-error.log

# Dependency folders
node_modules/
frontend/node_modules/

# Built/generated assets (Managed by Docker build stage)
public/dist/
